body{
    background: silver;
}

#header{
    padding: 20px;
    background: yellowgreen;
}

#content{
    background: #fff;
    padding: 20px;
    height: 530px;
}

#footer{
    background: dodgerblue;
    padding: 20px;
}

#book_content{
    float: left;
    margin-left: 100px;
}